[submodule "vim/pathogen"]
	path = vim/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/plugins/nerdtree"]
	path = vim/plugins/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/plugins/nerdcommenter"]
	path = vim/plugins/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/plugins/vim-javascript"]
	path = vim/plugins/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/plugins/ack"]
	path = vim/plugins/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/plugins/vim-fugitive"]
	path = vim/plugins/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/plugins/vividchalk"]
	path = vim/plugins/vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "vim/plugins/vim-trailing-whitespace"]
	path = vim/plugins/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace.git
[submodule "vim/plugins/Gundo"]
	path = vim/plugins/Gundo
	url = https://github.com/vim-scripts/Gundo.git
[submodule "vim/plugins/SearchComplete"]
	path = vim/plugins/SearchComplete
	url = https://github.com/vim-scripts/SearchComplete.git
[submodule "vim/plugins/vim-coffee-script"]
	path = vim/plugins/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/plugins/vim-css-color"]
	path = vim/plugins/vim-css-color
	url = https://github.com/skammer/vim-css-color.git
[submodule "vim/plugins/snipmate"]
	path = vim/plugins/snipmate
	url = https://github.com/msanders/snipmate.vim
[submodule "vim/plugins/vim-surround"]
	path = vim/plugins/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/plugins/vim-taglist-plus"]
	path = vim/plugins/vim-taglist-plus
	url = https://github.com/int3/vim-taglist-plus.git
[submodule "vim/plugins/Command-T"]
	path = vim/plugins/Command-T
	url = https://github.com/wincent/Command-T.git
